{% extends "base.html" %}

{% block boven %}

{% endblock %}

{% block midden %}
<div class="container-fullwidth">

    <form action="{% url 'certificates:certificates' %}" method="POST">

        {% csrf_token %}

        <nav class="navbar navbar-expand-lg bg-primary">
          <div class="container-fluid">
            <ul class="nav navbar-nav">
              <li><button type="submit" name="query_db_certs" value="Certificatenoverzicht uit de database"
                class="btn btn-light btn-margin-left btn-sm">Certificaatoverzicht uit de database</button></li>
              <li><button type="submit" name="update_cert_tables" value="Certificaattabellen bijwerken"
                class="btn btn-light btn-margin-left btn-sm">Certificaattabellen bijwerken</button></li>
            </ul>
          </div>
        </nav>

    </form>

    {% if database %}

        <p>Certificaattabellen zijn bijgewerkt naar deze versies:</p>

        <p><table>
            <tr>
                <th>F5 node</th>
                <th>Tables updated</th>
            </tr>

            {% for bigip_node in database %}
                <tr>
                    <td>{{ bigip_node.bigip_name }}</td>
                    <td>{{ bigip_node.created_on }}</td>
                </tr>
            {% endfor %}

        </table></p>

    {% endif %}

    {% if cert_clientssl_virtualserver %}

    <nav class="navbar navbar-expand-lg bg-primary">
          <div class="container-fluid">
            <ul class="nav navbar-nav">
              <li><button class="btn btn-light btn-margin-left btn-sm">
                  <a href="#cssl">op basis van client SSL profielen</a></button></li>
              <li><button class="btn btn-light btn-margin-left btn-sm">
                  <a href="#sssl">op basis van server SSL profielen</a> </button></li>
              <li><button class="btn btn-light btn-margin-left btn-sm">
                  <a href="#sssl-via-irules">op basis van server SSL profielen gekoppeld via irules en data groups</a> </button></li>
            </ul>
          </div>
    </nav>

    <div class="container-fluid">

        <p><h4 id="cssl">Doorzoek de tabel van certificaten op basis van client SSL profielen:</h4></p>
        <input class="form-control" id="myInput" type="text" placeholder="Search..">

          <table class="table table-hover">
            <thead>
              <tr>
                <th>Naam</th>
                <th>Common Name</th>
                <th>SAN</th>
                <th>Verloopt op</th>
                <th>Cluster</th>
                <th>CSSL Profiel</th>
                <th>Virtual Server</th>
                <th>Virtual Server IP</th>
              </tr>
            </thead>

            <tbody id="myTable">

                {% for server_cert in cert_clientssl_virtualserver %}

                <tr>
                    <td>{{ server_cert.cert_name }}</td>
                    <td>{{ server_cert.cert_common_name }}</td>
                    <td>{{ server_cert.cert_san }}</td>
                    <td>{{ server_cert.cert_expiration }}</td>
                    <td>{{ server_cert.cert_cluster }}</td>
                    <td>{{ server_cert.cssl_name }}</td>
                    <td>{{ server_cert.vs_name }}</td>
                    <td>{{ server_cert.vs_ip }}</td>
                </tr>

                {% endfor %}

            </tbody>

          </table>

    </div>

    <script>
            $(document).ready(function(){
              $("#myInput").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function() {
                  $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
              });
            });
    </script>

    {% endif %}

    {% if cert_serverssl_virtualserver %}

    <div class="container-fluid">

        <p><h4 id="sssl">Certificaten op basis van Server SSL profielen:</h4></p>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Cert Name</th>
                    <th>Cert Partition</th>
                    <th>Cert Expiration</th>
                    <th>Cert Cluster</th>
                    <th>Server SSL Profile Name</th>
                    <th>Server SSL Partition</th>
                    <th>Virtual Server Name</th>
                    <th>Virtual Server Partition</th>
                    <th>Virtual Server Destination</th>
                </tr>
            </thead>

            {% for client_cert in cert_serverssl_virtualserver %}

                <tr>
                    <td>{{ client_cert.cert_name }}</td>
                    <td>{{ client_cert.cert_partition }}</td>
                    <td>{{ client_cert.cert_expiration }}</td>
                    <td>{{ client_cert.cert_cluster }}</td>
                    <td>{{ client_cert.server_ssl_name }}</td>
                    <td>{{ client_cert.server_ssl_partition}}</td>
                    <td>{{ client_cert.vs_name }}</td>
                    <td>{{ client_cert.vs_partition }}</td>
                    <td>{{ client_cert.vs_ip }}</td>
             </tr>
            {% endfor %}

        </table></p>

    </div>

    {% endif %}


    {% if cert_serverssl_datagroup_irule_virtualserver %}

    <div class="container-fluid">

        <p><h4 id="sssl-via-irules">Certificaten op basis van Server SSL profielen, gekoppeld via irules en datagroups:</h4></p>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Cert Name</th>
                    <th>Cert Partition</th>
                    <th>Cert Expiration</th>
                    <th>Cert Cluster</th>
                    <th>Server SSL Profile Name</th>
                    <th>Server SSL Partition</th>
                    <th>Datagroup</th>
                    <th>Irule</th>
                    <th>Virtual Server Name</th>
                    <th>Virtual Server Partition</th>
                    <th>Virtual Server Destination</th>
                </tr>
            </thead>

            {% for client_cert_datagroup_irule in cert_serverssl_datagroup_irule_virtualserver %}

                <tr>
                    <td>{{ client_cert_datagroup_irule.cert_name }}</td>
                    <td>{{ client_cert_datagroup_irule.cert_partition }}</td>
                    <td>{{ client_cert_datagroup_irule.cert_expiration }}</td>
                    <td>{{ client_cert_datagroup_irule.cert_cluster }}</td>
                    <td>{{ client_cert_datagroup_irule.server_ssl_name }}</td>
                    <td>{{ client_cert_datagroup_irule.server_ssl_partition}}</td>
                    <td>{{ client_cert_datagroup_irule.datagroup_name }}</td>
                    <td>{{ client_cert_datagroup_irule.irule_name }}</td>
                    <td>{{ client_cert_datagroup_irule.vs_name }}</td>
                    <td>{{ client_cert_datagroup_irule.vs_partition }}</td>
                    <td>{{ client_cert_datagroup_irule.vs_ip }}</td>
             </tr>
            {% endfor %}


        </table></p>
    </div>

    {% endif %}

</div>


{% endblock %}