<!doctype html>
<html>

{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <title>Lets Automate :)</title>

    <style>
        p.boven {
            padding-top: 0px;
        }
        p.midden {
            padding-top: 15px;
        }
        .container{
        }
        .navbar{
        }
        .btn-margin-left {
            margin-left: 10px;
        }
        .btn-margin-right {
            margin-right: 10px;
        }
    </style>

</head>

<body>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/jquery.min.js' %}"></script>

    {% include "navbar.html" %}

    <p class="boven">
    {% block boven %} Replace me in the other template.html files {% endblock %}
    </p>

    <p class="midden">
    {% block midden %} Replace me in the other template.html files {% endblock %}
    </p>

</body>

</html>

<body>