<!doctype html>
<html>

{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <title>Lets Automate :)</title>

    <style>
        p.ex1 {
            padding-top: 7px;
        }
        .btn-margin-left {
            margin-left: 10px;
        }
        .btn-margin-right {
            margin-right: 10px;
        }
    </style>

</head>

<body>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/jquery.min.js' %}"></script>

    <p class="ex1">
    {% block boven %} Replace me in the other template.html files {% endblock %}
    </p>

    {% include "navbar.html" %}

    <p class="ex1">
    {% block midden %} Replace me in the other template.html files {% endblock %}
    </p>
</body>

</html>

<body>