<!doctype html>
<html>
<head>
    <title>Lets Automate :)</title>
    <style>
        table {
          font-family: arial, sans-serif;
          font-size:	10px;
          border-collapse: collapse;
          width: 100%;
        }

        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 4px;
        }

        tr:nth-child(even) {
          background-color: #dddddd;
        }
    </style>
<body>
    {% include "navbar.html" %}

    {% block content_name %} Replace me in the other template.html files {% endblock %}
</body>

</html>