<nav class="navbar navbar-expand-lg bg-primary fixed-top">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li><a href="http://localhost:8000/file_upload"><button type="button" class="btn btn-light btn-margin-left btn-sm">-File Upload-</button></a></li>
      <li><a href="http://localhost:8000/database"><button type="button" class="btn btn-light btn-margin-left btn-sm">-LTM Database-</button></a></li>
      <li><a href="http://localhost:8000/certificates"><button type="button" class="btn btn-light btn-margin-left btn-sm">-Certificaten-</button></a></li>
      <li><a href="http://localhost:8000/decommissioning"><button type="button" class="btn btn-light btn-margin-left btn-sm">-Decommissioning-</button></a></li>
    </ul>
  </div>
</nav>