{% extends "base.html" %}

{% block boven %}

{% endblock %}

{% block midden %}

<div class="container-fullwidth">

    {% if bigip_node_list %}

    <form action="{% url 'database:database' %}" method="POST">

        {% csrf_token %}

        <nav class="navbar navbar-expand-lg bg-primary">
          <div class="container-fluid">
            <ul class="nav navbar-nav">
              <li>
                  <select name="bigip_ip">

                    {% for node in bigip_node_list %}

                    <option value="{{node.bigip_ip}}">{{node.bigip_name}}</option>

                    {% endfor %}

                  </select>
              </li>
              <li><button type="submit" name="update_db" value="Database bijwerken van het geselecteerde cluster"
                class="btn btn-light btn-margin-left btn-sm">Database bijwerken van het geselecteerde cluster</button>
              </li>
            </ul>
          </div>
        </nav>
    </form>
</div>

<div class="container-fluid">

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Cluster</th>
                    <th>Bijgewerkt op</th>
                </tr>
            </thead>

            <tbody>
            {% for bigip_node in database %}
                <tr>
                    <td>{{ bigip_node.bigip_name }}</td>
                    <td>{{ bigip_node.created_on }}</td>
                </tr>
            {% endfor %}
            </tbody>

        </table></p>
</div>

    {% elif database_updates %}

        Deze database tabellen zijn bijgewerkt:<p>

        <p>Irules:<p>

        {% for irule in database_updates.irules %}

            <li>{{ irule }}</li>

        {% endfor %}

        <p>Datagroups:<p>

        {% for datagroup in database_updates.datagroups %}

            <li>{{ datagroup }}</li>

        {% endfor %}


        <p>Certificaten:<p>

        {% for certificate in database_updates.certificates %}

            <li>{{ certificate }}</li>

        {% endfor %}

        <p>Client SSL Profile:<p>

        {% for cssl_profile in database_updates.profile_cssl %}

            <li>{{ cssl_profile }}</li>

        {% endfor %}

        <p>Server SSL Profile:<p>

        {% for profile_ssl_server in database_updates.profile_ssl_server %}

            <li>{{ profile_ssl_server }}</li>

        {% endfor %}

        <p>Virtual servers:<p>

        {% for virtual_server in database_updates.virtual_servers %}

            <li>{{ virtual_server }}</li>

        {% endfor %}

    {% endif %}

</div>

{% endblock %}

