{% extends "base.html" %}

{% block boven %}

{% endblock %}

{% block midden %}

    {% if bigip_node_list %}

    <div class="container-fullwidth">

        <form action="{% url 'database:database' %}" method="POST">

            {% csrf_token %}

            <nav class="navbar navbar-expand-lg bg-primary">
              <div class="container-fluid">
                <ul class="nav navbar-nav">
                  <li>
                      <select name="bigip_ip">

                        {% for node in bigip_node_list %}

                        <option value="{{node.bigip_ip}}">{{node.bigip_name}}</option>

                        {% endfor %}

                      </select>
                  </li>
                  <li><button type="submit" name="update_db" value="Database bijwerken van het geselecteerde cluster"
                    class="btn btn-light btn-margin-left btn-sm">Database bijwerken van het geselecteerde cluster</button>
                  </li>
                </ul>
              </div>
            </nav>
        </form>
    </div>

    <div class="container-fluid">

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Cluster</th>
                    <th>Bijgewerkt op</th>
                </tr>
            </thead>

            <tbody>
            {% for bigip_node in database %}
                <tr>
                    <td>{{ bigip_node.bigip_name }}</td>
                    <td>{{ bigip_node.created_on }}</td>
                </tr>
            {% endfor %}
            </tbody>

        </table></p>

    {% elif database_updates %}

    <div class="container-fluid">

        <h4> Deze database tabellen zijn bijgewerkt:</h4>

        <table class="table table-hover">
            <thead>
              <tr>
                <th>Irules:</th>
              </tr>
            </thead>
            <tbody>

                {% for irule in database_updates.irules %}

                    <tr>
                        <td>{{ irule }}</td>
                    </tr>

                {% endfor %}

            </tbody>
        </table>

        <table class="table table-hover">
            <thead>
              <tr>
                <th>Datagroups:</th>
              </tr>
            </thead>
            <tbody>

                {% for datagroup in database_updates.datagroups %}

                    <tr>
                        <td>{{ datagroup }}</td>
                    </tr>

                {% endfor %}

            </tbody>
        </table>

        <table class="table table-hover">
            <thead>
              <tr>
                <th>Certificaten:</th>
              </tr>
            </thead>
            <tbody>

                {% for certificate in database_updates.certificates %}

                    <tr>
                        <td>{{ certificate }}</td>
                    </tr>

                {% endfor %}

            </tbody>
        </table>

        <table class="table table-hover">
            <thead>
              <tr>
                <th>Client SSL profielen:</th>
              </tr>
            </thead>
            <tbody>

                {% for cssl_profile in database_updates.profile_cssl %}

                    <tr>
                        <td>{{ cssl_profile }}</td>
                    </tr>

                {% endfor %}

            </tbody>
        </table>

        <table class="table table-hover">
            <thead>
              <tr>
                <th>Server SSL profielen:</th>
              </tr>
            </thead>
            <tbody>

                {% for profile_ssl_server in database_updates.profile_ssl_server %}

                    <tr>
                        <td>{{ profile_ssl_server }}</td>
                    </tr>

                {% endfor %}

            </tbody>
        </table>

        <table class="table table-hover">
            <thead>
              <tr>
                <th>Virtual Servers:</th>
              </tr>
            </thead>
            <tbody>

                {% for virtual_server in database_updates.virtual_servers %}

                    <tr>
                        <td>{{ virtual_server }}</td>
                    </tr>

                {% endfor %}

            </tbody>
        </table>
    </div>

    {% endif %}

{% endblock %}

